---
permalink: browserconfig.xml
---
<?xml version="1.0" encoding="utf-8"?>
<browserconfig>
    <msapplication>
        <tile>
            {% browserconfig_favicon 76, square70x70logo %}
            {% browserconfig_favicon 228, square150x150logo %}
            {% browserconfig_theme_color %}
        </tile>
    </msapplication>
</browserconfig>