---
layout: base.njk
title: Título

lang: es
manifest: site.webmanifest

meta:
    description: Prueba de descripción

# OpenGraph (https://ogp.me/)
og:
    type: website
    title: Título de OpenGraph
    url: https://misitio/
    image: "https://misitio/imagenes/og.png"
    locale: es_ES

# Twitter Card (https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/summary)
twitter:
    summary: Descripción del sitio web
    site: "@usuariotwitter"
    title: Título de la tarjeta de Twitter
    description: Descripción que acompaña a la tarjeta de Twitter
    image: "imagenes/twitter.png"
    image:alt: "Texto alternativo de la imagen"

---

<b>¡Hola!</b>
