---
permalink: site.webmanifest
---
{
    "short_name": "{% meta_title %}",
    "name": "{% meta_title %}",
    "description": "{% meta_description %}",
    "scope": "/",
    "display": "standalone",
    "icons:": {% manifest_icons %},
    "start_url": "/?utm_source=pwa",
    "background_color": "{% meta_background_color %}",
    "theme_color": "{% meta_theme_color %}"
}